html,
body {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    background: #ffffff;
}

ul li,
ol li {
    font-size: 14px;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-weight: 700;
}

ul,
label {
    margin: 0;
    padding: 0;
}

body a:hover {
    text-decoration: none;
}

/*=======Navbar css==========*/
@media screen and (max-width:767px) {
    .navbar-brand {
        display: flex;
        justify-content: center;
    }
}

.navbar-brand img {
    height: 75px;
}

.dropdown .dropdown-menu {
    border-radius: 0;
}

.phone_email {
    position: relative;
    top: 25px;
}

.phone_text {
    padding: 0px 40px;
}

.phone_text li:first-child {
    margin-right: 10px;
}

.phone_text li:first-child i::before {
    position: relative;
    right: 10px;
}

.phone_text li {
    display: inline-block;
    color: black;
}


i.fa.fa-phone {
    margin-right: 10px;
    font-size: 15px;
}

header {
    position: relative;
    width: 100%;
    background: #101B74;
    z-index: 99999;
}

.logo {
    position: relative;
    z-index: 123;
    padding: 10px;
    font: 18px verdana;
    color: #6DDB07;
    float: left;
    width: 15%
}

.logo a {
    color: #6DDB07;
}

nav {
    position: relative;
    width: 980px;
    margin: 0 auto;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #head-mobile {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cssmenu:after,
#cssmenu>ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

#cssmenu #head-mobile {
    display: none
}

#cssmenu {
    background: #101B74;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#cssmenu>ul>li {
    float: left
}

#cssmenu>ul>li>a {
    padding: 17px;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ddd;
    font-weight: 700;
}

#cssmenu>ul>li:hover>a,
#cssmenu ul li.active a {
    color: #fff
}

#cssmenu>ul>li:hover,
#cssmenu ul li.active:hover,
#cssmenu ul li.active,
#cssmenu ul li.has-sub.active:hover {
    background: #2AB6E6 !important;
    -webkit-transition: background .3s ease;
    -ms-transition: background .3s ease;
    transition: background .3s ease;
}

#cssmenu>ul>li.has-sub>a {
    padding-right: 30px
}

#cssmenu>ul>li.has-sub>a:after {
    position: absolute;
    top: 22px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: ''
}

#cssmenu>ul>li.has-sub>a:before {
    position: absolute;
    top: 19px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: '';
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease
}

#cssmenu>ul>li.has-sub:hover>a:before {
    top: 23px;
    height: 0
}

#cssmenu ul ul {
    position: absolute;
    left: -9999px
}

#cssmenu ul ul li {
    height: 0;
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    background: #333;
    transition: all .25s ease
}

#cssmenu ul ul li:hover {}

#cssmenu li:hover>ul {
    left: auto
}

#cssmenu li:hover>ul>li {
    height: 35px
}

#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0
}

#cssmenu ul ul li a {
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    padding: 11px 15px;
    width: 170px;
    font-size: 12px;
    text-decoration: none;
    color: #ddd;
    font-weight: 400;
}

#cssmenu ul ul li:last-child>a,
#cssmenu ul ul li.last-item>a {
    border-bottom: 0
}

#cssmenu ul ul li:hover>a,
#cssmenu ul ul li a:hover {
    color: #fff
}

#cssmenu ul ul li.has-sub>a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: ''
}

#cssmenu ul ul li.has-sub>a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: '';
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease
}

#cssmenu ul ul>li.has-sub:hover>a:before {
    top: 17px;
    height: 0
}

#cssmenu ul ul li.has-sub:hover,
#cssmenu ul li.has-sub ul li.has-sub ul li:hover {
    background: #363636;
}

#cssmenu ul ul ul li.active a {
    border-left: 1px solid #333
}

#cssmenu>ul>li.has-sub>ul>li.active>a,
#cssmenu>ul ul>li.has-sub>ul>li.active>a {
    border-top: 1px solid #333
}

@media screen and (max-width:1000px) {
    .logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 46px;
        text-align: center;
        padding: 10px 0 0 0;
        float: none
    }

    .logo2 {
        display: none
    }

    nav {
        width: 100%;
    }

    #cssmenu {
        width: 100%
    }

    #cssmenu ul {
        width: 100%;
        display: none
    }

    #cssmenu ul li {
        width: 100%;
        border-top: 1px solid #444
    }

    #cssmenu ul li:hover {
        background: #363636;
    }

    #cssmenu ul ul li,
    #cssmenu li:hover>ul>li {
        height: auto
    }

    #cssmenu ul li a,
    #cssmenu ul ul li a {
        width: 100%;
        border-bottom: 0
    }

    #cssmenu>ul>li {
        float: none
    }

    #cssmenu ul ul li a {
        padding-left: 25px
    }

    #cssmenu ul ul li {
        background: #333 !important;
    }

    #cssmenu ul ul li:hover {
        background: #363636 !important
    }

    #cssmenu ul ul ul li a {
        padding-left: 35px
    }

    #cssmenu ul ul li a {
        color: #ddd;
        background: none
    }

    #cssmenu ul ul li:hover>a,
    #cssmenu ul ul li.active>a {
        color: #fff
    }

    #cssmenu ul ul,
    #cssmenu ul ul ul {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: left
    }

    #cssmenu>ul>li.has-sub>a:after,
    #cssmenu>ul>li.has-sub>a:before,
    #cssmenu ul ul>li.has-sub>a:after,
    #cssmenu ul ul>li.has-sub>a:before {
        display: none
    }

    #cssmenu #head-mobile {
        display: block;
        padding: 23px;
        color: #ddd;
        font-size: 12px;
        font-weight: 700
    }

    .button {
        width: 55px;
        height: 46px;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        z-index: 12399994;
    }

    .button:after {
        position: absolute;
        top: 22px;
        right: 20px;
        display: block;
        height: 4px;
        width: 20px;
        border-top: 0px solid #dddddd;
        border-bottom: 2px solid #dddddd;
        content: ''
    }

    .button:before {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        position: absolute;
        top: 16px;
        right: 20px;
        display: block;
        height: 2px;
        width: 20px;
        background: #ddd;
        content: ''
    }

    .button.menu-opened:after {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        top: 23px;
        border: 0;
        height: 2px;
        width: 19px;
        background: #fff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    .button.menu-opened:before {
        top: 23px;
        background: #fff;
        width: 19px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }

    #cssmenu .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid #444;
        height: 46px;
        width: 46px;
        cursor: pointer
    }

    #cssmenu .submenu-button.submenu-opened {
        background: #262626
    }

    #cssmenu ul ul .submenu-button {
        height: 34px;
        width: 34px
    }

    #cssmenu .submenu-button:after {
        position: absolute;
        top: 22px;
        right: 19px;
        width: 8px;
        height: 2px;
        display: block;
        background: #ddd;
        content: ''
    }

    #cssmenu ul ul .submenu-button:after {
        top: 15px;
        right: 13px
    }

    #cssmenu .submenu-button.submenu-opened:after {
        background: #fff
    }

    #cssmenu .submenu-button:before {
        position: absolute;
        top: 19px;
        right: 22px;
        display: block;
        width: 2px;
        height: 8px;
        background: #ddd;
        content: ''
    }

    #cssmenu ul ul .submenu-button:before {
        top: 12px;
        right: 16px
    }

    #cssmenu .submenu-button.submenu-opened:before {
        display: none
    }

    #cssmenu ul ul ul li.active a {
        border-left: none
    }

    #cssmenu>ul>li.has-sub>ul>li.active>a,
    #cssmenu>ul ul>li.has-sub>ul>li.active>a {
        border-top: none
    }
}

/*=======Navbar css==========*/
/*========Swiper css ========*/
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    top: 50%;
    left: 0;
    margin-top: -26px;
    background-color: rgba(0, 0, 0, .3);
    width: 40px;
    height: 52px;
    border: 0;
    border-radius: 0 3px 3px 0;
    -webkit-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out
}

.swiper-button-prev {
    left: auto;
    right: 0;
    border-radius: 3px 0 0 3px
}

.swiper-button-next,
.swiper-button-prev i {
    line-height: 50px;
    width: 34px;
    height: 52px;
    color: #ddd;
    color: rgba(255, 255, 255, .8);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
    font-size: 34px;
    text-align: center;
}

/*========//Swiper css ========*/

/*======Top selling Inks=======*/
.top-brands {
    background: #f5f5f5;
    padding: 2rem 0;
}

.white-bg {
    background: #fff;
}

.top-brands h2 {
    text-align: center;
    color: #212121;
    padding-bottom: .5em;
    position: relative;
    font-size: 2rem;
    text-transform: uppercase;
}

.top-brands h2:after {
    content: '';
    background: #3399cc;
    height: 2px;
    width: 15%;
    position: absolute;
    bottom: 17%;
    left: 43%;
}

.inks_key_points li {
    float: left;
    width: 100%;
    height: 20px;
    margin-bottom: .5rem;
    text-align: center;
    font-weight: 700;
    font-size: .7rem;
}

.main_header {
    padding-bottom: 20px;
    font-size: 2rem;
    text-align: center;
}

.vivid_inks {
    position: relative;
    top: 1rem;
}

.header_size {
    font-size: 1.35rem;
    font-weight: 800;
}

.custom_width {
    width: 85%;
    margin: 2% 7%;
}

/*======//Top selling Inks=======*/


/*=======Footer======*/
#footer {
    background: #29282E;
    padding: 30px;
}

.address-box h4 {
    font-size: 0.9rem;
    color: #006df0;
    letter-spacing: 0.7px;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .8rem;
}

.mb-none {
    margin-bottom: 0.5rem !important;
}

.address-box p {
    color: #ccc;
    opacity: .6;
    font-size: 0.75rem;
    font-weight: lighter;
    text-align: left;
}

.flex-center {
    display: flex;
    justify-content: center;
}

#footer .footer_logo {
    height: 60px;
    margin-top: 15px;
}

.address-box {
    position: relative;
    left: 19px;
}

#footer address {
    color: #fff;
    font-size: .8rem;
    font-weight: 300;
}

/* .footer p {
    color: #fff;
    font-weight: 300;
    font-size: .8rem;
} */

.mt30 {
    margin-top: 30px;
}

.social {
    list-style: none;
    float: left;
    padding: 0;
}

.social img {
    width: 35px;
}

.social li {
    float: left;
    margin-left: 10px;
}

.hide-lg-down {
    display: block;
}

.show-lg-down {
    display: none;
}

.browse_title p {
    color: #006df0;
    font-size: 0.9rem;
    letter-spacing: 0.7px;
    font-weight: 600;
    text-align: left;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: .8rem;
}

.browse_list {
    list-style: none;
    padding: 0;
    display: inline-block;
    margin-right: 2.5rem;
    margin-bottom: 0px !important;
    text-transform: uppercase;
}

.btn-browse {
    color: #fff;
    opacity: .8;
    font-size: 0.6rem;
    line-height: 1.71;
    letter-spacing: 0.6px;
    padding: 0;
}

.btn-browse:hover {
    color: #ffffff;
}

.browse-anchor {
    width: 10px;
    height: 7px;
    position: relative;
    right: 2px;
}

.footer_lists {
    padding: 0 100px;
}

/*=========Product desc css =======*/
#wrapper {
    padding-right: 250px;
}

#sidebar-wrapper {
    margin-right: -250px;
    right: 250px;
    width: 250px;
    background: #CCC;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
}

/*===Partners css=====*/
.client_container {
    width: 1000px;
}

.client_icon {
    width: 220px;
}

.client-list {
    float: left;
    clear: both;
    text-align: center;
    padding-bottom: 50px;
    margin: 0;
}

.client-list li {
    list-style: none;
    width: 33%;
    float: left;
    margin-top: 20px;
}

/*=====About us text ====*/
.about_us_text {
    font-size: .9rem;
    color: #616161;
    margin-top: 20px;
    text-align: left;
}

.about_us_img {
    margin-top: 2rem;
}

/*========Machine Desc=====*/
.page {
    border: thin solid #dadce0;
    border-radius: .5rem;
    box-sizing: border-box;
    padding: 1.5rem;
    margin: 2.625rem 0;
}

.brand_name {
    font-size: 2rem;
    font-weight: 600;
}

.brand_desc {
    font-size: .7rem;
    font-weight: 400;
    margin: .25rem 0 .75rem;
}

.video_section {
    display: flex;
    justify-content: center;
    margin: 2rem .5rem;
}

.highlights h5 {
    font-weight: 500;
    font-size: 1.5rem;
    margin: .25rem 0 .75rem;
}

.highlights ul {
    list-style-type: none;
    padding: 0;
    display: table;
}

.highlights ul li {
    display: table-row;
}

.highlights ul li::before {
    content: "\f14a";
    display: table-cell;
    text-align: right;
    color: #0488cd;
    font-family: FontAwesome;
    margin: 0 7px 0 0;
    padding: 5px 5px 0px 5px;
}

.highlights p {
    font-size: .7rem;
    font-weight: 400;
    margin-top: 1rem;
}

.primary-nav {
    display: table-cell;
    padding: 2.625rem 0 0;
    width: 21.125rem;
    box-sizing: border-box;
    margin: 1.875rem .25rem 0;
    max-width: 52rem;
}

.primary-nav nav {
    min-height: 16.375rem;
    width: inherit;
}

.sibling_list h4 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.nav-sibling {
    list-style: none;
}

.nav-sibling li {
    padding: 0;
    width: auto;
}

.nav-sibling li .current {
    font-weight: 600 !important;
}

.nav-sibling li a {
    color: #3c4043;
    display: block;
    padding: .625rem 0 .625rem 0rem;
    position: relative;
    font-weight: 400;
}

.btn-download {
    border: thin solid #101B74;
    padding: 10px 40px;
    font-weight: 600;
    color: #006df0 !important;
    font-size: .7rem;
}

.btn-download i {
    position: relative;
    right: 5px;
    font-size: .8rem;
}

/*----Inks Tabs---*/
.context-selector-tabs {
    border-bottom: .0625rem solid #dadce0;
    height: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    position: relative;
}

.context-selector-tabs-container {
    height: 3rem;
    margin: 0;
    white-space: nowrap;
    word-wrap: normal;
}

.context-selector-tabs a {
    border-left: .1875rem solid transparent;
    border-right: .1875rem solid transparent;
    color: #5f6368;
    font-family: 'Google Sans', Roboto, sans-serif;
    font-weight: 500;
}

.context-selector-tabs .context-selector-selected,
.context-selector-tabs .context-selector-selected:visited {
    border-bottom: .1875rem solid #1a73e8;
    color: #1a73e8;
}

.context-selector-tab {
    border-bottom: .0625rem solid transparent;
    cursor: pointer;
    display: inline-block;
    height: 2.875rem;
    line-height: 2.9375rem;
    padding: 0 .625rem;
    white-space: nowrap;
}

/*---//Inks Tabs---*/
@media (max-width: 768px) {
    .top-brands h2 {
        font-size: 1.5rem;
    }

    .inks_key_points li {
        height: auto;
    }

    .about_us_text {
        font-size: .7rem;
    }

    .hide-lg-down {
        display: none;
    }

    .show-lg-down {
        display: block;
    }
}

@media (max-width: 480px) {
    .navbar-brand img {
        height: 55px;
    }

    .top-brands h2 {
        font-size: 1.3rem;
    }

    .client-list li {
        width: 100%;
    }

    .client_icon {
        width: 150px;
    }

    .btn-browse {
        font-size: .5rem;
    }

    .brand_name {
        font-size: 1.5rem;
    }

    .brand_desc {
        font-size: .8rem;
    }

    .highlights h5 {
        font-size: 1.15rem;
    }

    .highlights p {
        font-size: .8rem;
    }

    .hide-lg-down {
        display: none;
    }

    .show-lg-down {
        display: block;
    }

    .main_header {
        font-size: 1.5rem;
    }

    .inks_key_points li {
        font-size: .8rem;
    }

    .header_size {
        font-size: 1rem;
    }


}